<!-- <body class="is-loading">
</body>
 -->
<template name="main_layout">
	<script src="/jquery.min.js"></script>
<!-- 	<script src="/jquery.scrollex.min.js"></script> -->
	<script src="/jquery.scrolly.min.js"></script>
	<script src="/skel.min.js"></script>
	<script src="/util.js"></script>
	<script src="/main.js"></script>
	
	<div class="mainwrapper">
		<div class="main_layout">
<!-- 			{{> flashMessages }} -->
<!-- 			{{> navbar_main }} -->
			{{> yield }}
		</div> <!-- /container -->
	</div>
</template>
